@model Crud3.Models.ToDoList

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Isso será deletado permanentemente</h3>
<div>
    <h4>ToDoList</h4>
    <hr />  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index"><button type="button" class="btn btn-secondary">Voltar para lista</button></a></form>
</div>
