@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p> <a class="nav-link text-dark" asp-area="" asp-controller="ToDoLists" asp-action="Index">Essa é uma aplicação feita por Luiz Gustavo e Victor referente ao cadastro de atividades, clique em cima deste texto e vá para aplicação imediatamente!</a></p>
</div>
